@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: 'Montserrat', sans-serif ;   ;
}

/* container class */
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
}
a{
    text-decoration: none;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.section_title
{
font-size: 4rem;
font-weight: 300;
color: black;
text-transform: uppercase;
text-align: center;
margin-bottom: 20px;
letter-spacing: 0.2rem;
}

.section_title span{
color:crimson
}


p{
    font-size: 1.4rem;
    margin-bottom: 10px;
    font-weight: 300;
    letter-spacing: 0.05rem;
    line-height: 2.5rem;
}

.brand h1{
    font-size: 3rem;
    text-transform: uppercase;
    color: white;

}

.brand h1 span{
    color: crimson;
}




/* hero section */


#hero{
    background-image: url(./images/hero_section_cover.jpg);
    background-size: cover;
    background-position:top center;
    position: relative;
    z-index: 1;
}

#hero::after{
    content:'';
    height: 100%;
    width: 100%;
    top:0;
    left:0;
    position: absolute;
    background-color: black;
    opacity: 0.7;
    z-index: -1;
}

.hero{
    max-width: 1200px;
    margin:0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}
#hero h1{
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color:transparent;
    animation:text_reveal 0.5s ease forwards;
    animation-delay: 1s;
    /* margin-left: 50px; */
}
#hero h1:nth-child(1){
    animation-delay: 1s;
}
#hero h1:nth-child(2){
    animation-delay: 2s;
}
#hero h1:nth-child(3){
    animation:text_reveal_name 0.5s ease forwards;
    animation-delay: 3s;
}

#hero h1 span{
    position: absolute;
    top:0;
    left:0;
    width:0;
    height: 100%;
    background-color: crimson;
    animation: text-reveal-box 1s ease;
    animation-delay: .5s;
}

#hero h1:nth-child(1) span{
    animation-delay: 0.5s;
}
#hero h1:nth-child(2) span{
    animation-delay: 1.5s;
}
#hero h1:nth-child(3) span{
    animation-delay: 2.5s;
}


.hero_button{
    display: inline-block;
    padding: 10px 30px;
    background-color: transparent;
    color: white;
    border: 2px solid crimson;
    font-size: 2 rem;
    letter-spacing: .1rem;
    text-transform:uppercase;
    margin-top:30px;
    transition: 2s ease;
    transition-property: background-color, color;
    /* margin-left: 50px; */
}
.hero_button:hover{
    color:white;
    background-color:crimson;
}

/* end hero Section */

#about .about {
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
    
}

#about .section_title{
    margin-top: 100px;
    margin-bottom: -50px;
    
}

#about .col_left{
    width: 250px;
    height: 360px;
}

#about .col_right{
    width: 100%;
}

#about .col_right h2{
    font-size: 1.8 rem;
    font-weight: 800;
    letter-spacing: 1.2 rem;
    margin-bottom: 10px;

}

#about .col_right p{
    margin-bottom: 20px;

}
#about .col_right .hero_button{
    color: #29323c;
    margin-bottom: 50px;
    padding: 10px 20px;
    font-size: 2rem;
    font-weight: 500;
}
#about .col_right .hero_button:hover{
    color: white;

}
#about .col_left .about_img{
    position: relative;
    height: 100%;
    width:100%;
    border: 10px solid white;
}


#about .col_left .about_img::after{
    content: '';
    position: absolute;
    left: -33px;
    top:19px;
    height: 98%;
    width:98%;
    border:7px solid crimson;
    z-index: -1; 
}



/* education section */

#educations .education{
    flex-direction: column;
    text-align: center;
    flex-basis: 100%;
    margin: 0 auto;
    padding: 100px 0px;
}


/* #educations .section_title p{
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 2.5rem;
    letter-spacing: 0.05 rem;
    margin-top:5px;
} */

#educations .edu_items{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

#educations .edu_cards{
    
    display: flex;
    flex-basis: 80%;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-image: url(./images/education.jpg);
    background-position: top center;
    background-size: cover;
    position: relative;
    margin:10px 5%; 
    z-index: 1;
    overflow: hidden;
}

#educations .edu_cards::after{
    content: '';
    position: absolute;
    left: 0;
    top:0;
    height: 100%;
    width: 100%;
    background-image:linear-gradient(60deg, #29323c, 
    #485563 100%);
    opacity:0.8;
    z-index: -1;

}

#educations .edu_cards img{
    height: 80px;
    width: 80px;
    border-radius: 10%;
    margin-bottom: 10px;
    object-fit: cover;
}

#educations .edu_cards h2{
    font-size: 2rem;
    color: white;
    margin-bottom: 10px;
    text-transform: uppercase;
}
#educations .edu_cards p{
    color: white;
}

/*end of education section*/



/*Project Section*/
#project .projects{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin:0 auto;
    padding: 100px 0px;
}

#project .project_header h1{
    margin-bottom: 50px ;
}

#project .all_project{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;

}

#project .pro_items{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin:20px auto;
    overflow: hidden;
    border-radius: 10px;
    
}

#project .pro_info {
    padding: 30px;
    flex-basis: 50%;
    /* color:white; */
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-contenT:center;
    flex-direction: column;
    background-image:linear-gradient(60deg, #29323c 0%, #485563 100% );
    color:white;
}
#project .pro_info h1{
    font-size: 4rem;
    font-weight: 400;
}
#project .pro_info h2{
    font-size: 1.8rem;
    font-weight: 500px;
    margin-top: 10px;
}
#project .pro_info p{
    color: white;
    margin-top: 10px;
    /* text-align: justify; */
}
#project .all_project .pro_img{
    height: 100%;
    flex-basis: 50%;
    overflow: hidden;
    position: relative;
}


#project .all_project .pro_img::after{
    content: '';
    position:absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image:linear-gradient(60deg, #29323c 0%, #485563 100% );
    opacity: 0.7;
}

#project .all_project .pro_img img{
    transition: 3s ease transform;
}

#project .pro_items:hover .pro_img img{
    transform:scale(1.1);
}
/*End of Project Section*/
/*Contact Info*/
#contact .contact{
   
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;    
}

#contact .contact_items{
    width: 350px;
}

#contact .contact_item{
    width: 80%;
    /* height: 80%; */
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    margin: 30px;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 18px 0px #0000002c; 
    flex-direction: column;
    justify-content: center;
    transition: .3s ease box-shadow;
}
#contact .contact_item:hover{
    box-shadow: 0px 0px 5px 0px #0000002c;
}
#contact .icon{
    width: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
}

#contact .contact_info h1{
    font-size: 2.5rem;
    font-weight: 500px;
    margin-bottom: 5px;
}

#contact .contact_info h2{
    font-size: 1.3rem;
    line-height: .5rem;
    font-weight: 500px;
    margin-bottom: 5px;
}

/*End of contact info*/
/*Footer section*/
#footer {
    background-image:linear-gradient(60deg, #29323c 0%, 
    #485563 100%);
}

#footer .footer{
    min-height: 200px;
    flex-direction: column;
  
    padding-top: 50px;
    padding-bottom: 10px;
}

#footer .footer h2{
    color: white;
    font-weight: 500;
    font-size: 1.8 rem;
    letter-spacing: .1rem;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

#footer .social_icons{
    display: flex;
    margin-bottom: 30px;
}

#footer .social_icons .social_item{
    height: 50px;
    width: 50px;
    margin:0 5px;
    color: white;
}

#footer .social_item img{
    filter:grayscale(1);
    transition: 0.3s ease filter;
}

#footer .social_item img:hover{
    filter: grayscale(0);
}

#footer .footer p{
    color: white;
    font-size: 1.3rem;
}
/*End-of-footer*/

/* keyframe */
@keyframes text-reveal-box {
    50%{
        width: 100%;
        left:0;
    }
    100%{
        width: 0;
        left: 100%;
    }
    
}

@keyframes text_reveal {
    100%{
        color: white;
    }
}

@keyframes text_reveal_name {
    100%{
        color: crimson;
        font-weight:700;
    }
    
}
/* end keyframe */

/*media Queries*/


/*for Tablet devices*/
@media only screen and (min-width:768px)
{
    .hero_button{
        font-size: 2.5rem;
        padding: 20px 60px;

    }

    h1.section_title{
        font-size: 6rem;
    }

    /* hero section */
    #hero h1{
        font-size: 7rem;
        font-weight: 300;
    }

    /* about section */

    #about .about{
        flex-direction: row;
    }

    #about .col_left{
        width: 600px;
        height: 400px;
        padding-left:60px;
    }

    #about .col_left .about_img::after{
        width: 98%;
        height: 98%;
        left:-45px;
        top:34px;
        border : 10px solid crimson
    }

    #about .col_right{
        padding: 30px;
        text-align: left;
    }

    #about .col_right h1{
        text-align: left;
    }

    #about p{
        text-align: justify;
    }

    /* end of about section */

    /* education section */

    #educations .edu_items .edu_cards{
        flex-basis: 80% ;
        margin: 1.5%;
    }

    /* end of education section */

    /* project section */

    #project .pro_items{
        flex-direction: row;
        height: 400px;
        width: 100%;
        margin: 0;
        border-radius: 0;
        
    }
    #project .pro_items:nth-child(2n){
        flex-direction: row-reverse;
    }

    #project .projects .pro_info{
        height: 100%;
    }
    #project .pro_info img{
        width: 100%;
        height: 100%;
    }

    /* end of project section */

    /* contact section */
    #contact .section_title{
        margin-top: -150px;
    }
    #contact .contact{
        flex-direction: column;
        padding: 100px 0px;
        align-items: center;
        justify-content: center;
        min-width: 20vh;
    }

    #contact .contact_items{
        display: flex;
        width: 100%;
        flex-direction: row;
        margin: 0 auto;
        padding: 20px;
        justify-content: center;
        align-items: center;
        
    }

    #contact .contact .contact_item {
        display: flex;
        margin: 20px;
        flex-direction: row;
    }

    #contact .contact_item icon{
        width: 100px;
        height: 100px;
    }
    #contact .contact_item icon img{
        object-fit: contain;
    }

    #contact .contact_item .contact_info{
        text-align: left;
        width: 100%;
        padding-left: 20px;
    }

    #contact .contact_item .contact_info h2{
        line-height: 1.2rem;
    }

    /* end of contact section */
}   
 /* media query for desktop */

@media(min-width:1200px){
    
    #about .section_title{
        margin-top: 70px;
    }


    #educations .edu_items{
        margin-top: 80px;
    
    }
    #educations .edu_items .edu_cards{
        flex-basis: 30%;
        width: 450px;
        height: 300px;
        margin: 1.5%;
    }
    /* #educations .edu_items {
        flex-direction: row ;

    }

    #educations .edu_items .edu_cards{
        flex-basis: 33% ;
        height: 300px;
    } */
    
        


}

    

